@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

h1 {

}
a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include single-box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

//-----------------------------------
// Add your own custom mixins below
//-----------------------------------

@mixin rounded-corners($radius: 5px) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {
     pre {  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
}

#container { 
  width: 800px;
  margin: 0 auto;
}

header {
  div.competition-status {
    color: #007DFF;
    background: #EEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
    background: -moz-linear-gradient(top, #EEE, #CCC);
    text-align: center;
    margin: 10px 0;
    padding: 20px;
    border: 1px solid #DDD;
    @include rounded-corners;

    h1 { font-size: 200%; }
    h2 { font-size: 125%; }
  }
}

#main {
  .user_new {
    padding: 20px;
    text-align: center;
    border: 1px solid #DDD;
    @include rounded-corners;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
    background: -moz-linear-gradient(top, #EEE, #CCC);

    input {
      margin: 10px 0;
      width: 300px;
    }
    #user_submit {
      height: 40px;
    }
  }

  #flash {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;

    .message {
      width: 700px;
      border: 1px solid #000;
      padding: 10px;
      margin: 0 auto;
      @include rounded-corners;
    }

    .alert, .error {
      border-color: #CD0000;
      background: #CD0000;
      color: #fff;
    }
    .notice {
      border-color: #9BC6F2;
      background: #9BC6F2;
      color: #fff;
    }
  }
    
    
  #navbar {
    position: relative;
    margin: 10px 0 10px 0;
    height: 26px;
    padding: 6px 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
    background: -moz-linear-gradient(top, #EEE, #CCC);
    border: 1px solid #DDD;
    @include rounded-corners;

    li {
      list-style-type: none;
      margin: 0;
      display: inline;

      a {
        float: left;
        margin-right: 10px;
        height: 26px;
        padding: 0 8px;
        line-height: 26px;
        font-size: 14px;
        color: #666;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
        @include rounded-corners;
      }

      a.selected {
        position: relative;
        top: -1px;
        font-weight: bold;
        color: #333;
        background: white;
        border: 1px solid #CCC;
        border-right-color: #EEE;
        border-bottom-color: #EEE;
      }
    }
  }

  .problem {
    h1 { font-size: 120% }
    h2 { font-size: 110% }
    h3 { font-size: 105% }

    background: #F5F5F5;
    padding: 0 10px;
    margin: 10px 0;
    border: 1px solid #DDD;
    @include rounded-corners;

    .problem-header {
      padding: 10px;
      border-bottom: grey 1px solid;

      div.right-section {
        float: right;
      }
    }

    .problem-body {
      margin: 0 10px;
      padding-bottom: 20px;

      .problem-description {
        margin: 10px 0;
        float: left;
      }
    }

    .create-solution-form, .update-solution-form {
      select.programming_language {
        width: 100%;
        height: 30px;
        font-size: 20px;
      }
      textarea.source_code {
        width: 100%;
        font-family: Monospace;
      }
      input[type=submit] {
        margin-top: 20px;
        width: 100%;
        height: 50px;
        font-size: 20px;
      }
    }
  }

  .accordion { clear:both }

  // Solution
  .solution {
    h2 { font-size: 20px }
    .problem-section {
       background: #CAE1FF;
       padding: 10px
    }
    .details {
      padding: 10px;
      table, td, th {
        border: 1px solid grey;
      }

      pre {
        margin: 10px;
      }

      table {
        width: 100%;
        td {
          padding: 3px;
        }
      }
    }
  }

  // Judge section
  #judge-table {
    width: 100%;

    td {
      padding: 3px;
    }
  }

  .big {
    font-size: 20px;
  }

  .center {
    text-align: center;
  }

  #judge-panel-button {
    width: 100%;
    height: 50px;
    font-size: 120%;
    margin-bottom: 10px;
  }
}

footer {}
