@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

h1 {

}
a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include single-box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {}

#container { 
  width: 800px;
  margin: 0 auto;
}

header {
  div.competition-status {
    h1 { font-size: 140%; }
    h2 { font-size: 125%; }
  }
}

#main {
  .user_new {
    text-align: center;

    input {
      margin: 10px 0;
      width: 300px;
    }
    #user_submit {
      height: 40px;
    }
  }
    
  #navbar {
    position: relative;
    margin: 10px 0 20px 0;
    height: 26px;
    padding: 6px 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
    background: -moz-linear-gradient(top, #EEE, #CCC);
    border: 1px solid #DDD;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    li {
      list-style-type: none;
      margin: 0;
      display: inline;

      a {
        float: left;
        margin-right: 10px;
        height: 26px;
        padding: 0 8px;
        line-height: 26px;
        font-size: 14px;
        color: #666;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
      }

      a.selected {
        position: relative;
        top: -1px;
        font-weight: bold;
        color: #333;
        background: white;
        border: 1px solid #CCC;
        border-right-color: #EEE;
        border-bottom-color: #EEE;
      }
    }
  }

  .problem {
    h1 { font-size: 120% }
    h2 { font-size: 110% }
    h3 { font-size: 105% }

    background: #F5F5F5;
    padding: 10px;
    margin: 10px 0;

    .problem-header {
      border-bottom: grey 1px solid;
    }

    .problem-body {
      margin: 10px;

      p.problem-description {
        margin: 10px 0;
      }
    }
  }
}

footer {}
