#navbar { 
    height: 26px;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC))
    position: relative;
    margin: 0px 0 0 0;
    height: 26px;
    padding: 6px 10px;
    border: 1px solid #DDD;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#navbar ul li {
    list-style-type: none;
    margin: 0;
    display: inline;
}

#navbar ul li a {
    float: left;
    margin-right: 10px;
    padding: 0 8px;
    line-height: 26px;
    font-size: 14px;
    color: #666;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#navbar ul li a.selected {
    position: relative;
    top: -1px;
    font-weight: bold;
    color: #333;
    background: white;
    border: 1px solid #CCC;
    border-right-color: #EEE;
    border-bottom-color: #EEE;
}

