- if !@problems.empty?
  - @problems.each do |problem|
    .problem{:id => problem.id}
      %h1.problem-header
        = problem.name
      .problem-body
        .problem-description
          = problem.description
       
        - if problem.solved_by?(current_user)
          .right-section
            %h2 Solved!
        - else
          .right-section
            %h2 Not solved
        .accordion
          %h3
            = link_to "Submit solution", "#"
          %div
            = render :partial => "new_solution_form", :locals => {:problem => problem}
- else
  There are no problems
