= render :partial => "navbar"

- if @competition.in_progress? or @competition.finished?
  = render :partial => "problems"
- else
  - content_for :meta do
    %meta{ "http-equiv" => "refresh", :content => "10"}/
  %h2
    = t :when_competition_starts_you_will_see_problems

= render :partial => "personal_info"
