- if current_user
  .competition-status
    %h1
      - if @competition.in_progress?
        #{t :competition_in_progress}
      - elsif @competition.not_started?
        #{t :competition_has_not_begun}
      - elsif @competition.finished?
        #{t :competition_finished}
  
