- if current_user
  .competition-status
    %h1
      - if @competition.in_progress?
        Competition is in progress
      - elsif @competition.not_started?
        Competition has not started, yet
      - elsif @competition.finished?
        Competition has finished.
  
