-# CSS: implied media="all"
= stylesheet_link_tag 'style', :media => 'all'
= stylesheet_link_tag 'flick/jquery-ui', :media => 'all'
= stylesheet_link_tag 'table_jui', :media => 'all'

-# Append your own using content_for :stylesheets
= yield :stylesheets
